<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Roboto", sans-serif
        }

        .w3-bar-block .w3-bar-item {
            padding: 16px;
            font-weight: bold
        }
    </style>
</head>
<body>
    <nav class="w3-sidebar w3-dark-grey w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
        <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="#"></a>
        <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>
        <a class="w3-bar-item w3-button w3-teal" href="#">Home</a>
        <a class="w3-bar-item w3-button" href="/emp/GetEmpbyid1">Link 1</a>
        <a class="w3-bar-item w3-button" href="/home/contact">Link 2</a>
        <a class="w3-bar-item w3-button" href="/home/about">Link 3</a>
        <a class="w3-bar-item w3-button" href="#">Link 4</a>
        <a class="w3-bar-item w3-button" href="#">Link 5</a>
        <div>
            <a class="w3-bar-item w3-button" onclick="myAccordion('demo')" href="javascript:void(0)">Dropdown <i class="fa fa-caret-down"></i></a>
            <div id="demo" class="w3-hide">
                <a class="w3-bar-item w3-button" href="#">Link</a>
                <a class="w3-bar-item w3-button" href="#">Link</a>
                <a class="w3-bar-item w3-button" href="#">Link</a>
            </div>
        </div>
    </nav>
    <div class="w3-main" style="margin-left:250px;">

        @*<div id="myTop" class="w3-container w3-top w3-theme w3-large">
                <p>
                    <i class="fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge" onclick="w3_open()"></i>
                    <span id="myIntro" class="w3-hide">W3.CSS: Introduction</span>
                </p>
            </div>*@

        <header class="w3-container w3-dark-grey" style="padding:1px 1px">
            <h1 class="w3-large">Welcome To The Employee Management System</h1>
            @*<button class="w3-container" style="position:center" > Logout</button>*@
        </header>


        <footer class="w3-container w3-theme" style="padding:px">
            <p>Footer information goes here</p>
        </footer>

    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
