@{
    ViewBag.Title = "About";
}
<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 alert alert-info">
            <h1 class="text-center"> About Us</h1>
            <h2 class="text-center">
                Welcome to IndOz Techsol!
            </h2>
            <h5>
                IndOz Techsol is a global provider of Consulting, Information Technology, Data Management and Business Process Management services to companies around the world.IndOz has a fully integrated offering to support digital transformation of organizations..
            </h5>
            </div>
        </div>
    </div>

