
@{
    ViewBag.Title = "EmptyLayout";
    
    
    
        Layout = "~/Views/Shared/_EmpLayout.cshtml";
    
    }

<div class="jumbotron text-center">
    <p>
        Welcome To Employee Management System
        <img src="~/Images/HRM_logo_Masthead_2017_lores.jpeg" style="width:100px" />
    </p>
</div>

