
@{
    ViewBag.Title = "Empty";
    Layout = "~/Views/Shared/_EmpLayout.cshtml";
}


    <div class="jumbotron text-center">
        <p>
            Welcome To Employee Management System
        </p>
    </div>


